section.parallax
  .parallax__layer(data-speed="0.1")  
    img(src=require("images/content/parallax-mountain/Sky.png")).parallax__image
  .parallax__layer(data-speed="0.14")  
    img(src=require("images/content/parallax-mountain/Mountain.png")).parallax__image
  .parallax__layer(data-speed="0.21")  
    img(src=require("images/content/parallax-mountain/Baloon.png")).parallax__image
  .parallax__layer(data-speed="0.28")  
    img(src=require("images/content/parallax-mountain/Cloud.png")).parallax__image
  .parallax__layer(data-speed="0.35")  
    img(src=require("images/content/parallax-mountain/Man.png")).parallax__image
  .parallax__layer(data-speed="0.42")  
    img(src=require("images/content/parallax-mountain/Mountain1.png")).parallax__image
  .parallax__layer(data-speed="0.49")  
    img(src=require("images/content/parallax-mountain/White.png")).parallax__image