.parallax-buddha
  .parallax-buddha__layer(data-speed="0.1")  
    img(src=require("images/content/parallax-buddha/1.jpg")).parallax-buddha__image
  .parallax-buddha__layer(data-speed="0.14")  
    img(src=require("images/content/parallax-buddha/2.png")).parallax-buddha__image
  .parallax-buddha__layer(data-speed="0.18")  
    img(src=require("images/content/parallax-buddha/3.png")).parallax-buddha__image
  .parallax-buddha__layer(data-speed="0.20")  
    img(src=require("images/content/parallax-buddha/4.png")).parallax-buddha__image
  .parallax-buddha__layer(data-speed="0.26")  
    img(src=require("images/content/parallax-buddha/5.png")).parallax-buddha__image
  .parallax-buddha__layer(data-speed="0.01")  
    img(src=require("images/content/parallax-buddha/6.png")).parallax-buddha__image