include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .welcome-section
        section.hero.fullscreen-section
          .container
            header.header
              .header__left 
                .logo ТМ  
              .header__menu
                +nav('menu', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
              .header__right
                .hero__socials
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item, index in icons
                    li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                      a(href="#").socials__link(target="_blank")
                        +icon(`${item}`, 'socials__icon')
            
              .hero__content
                .user-data
                  .user-data__desc Личный сайт <br> веб разработчика
                  .user-data__name Михаила <br> Туркина  
              .scroll
                a(href="#").hero__bottom-btn.scroll-down-btn Скролл
                  +icon("scroll", "scroll-img") 
        section.about-section
          .container
            .about 
              .about__user-data
                .user-info
                  .user-info__avatar
                    .avatar
                      +image("content/user.png", "avatar__img")
                  .user-info__content
                    -
                      var userdata = [
                        ["Проживаю:", "Норильск"],
                        ["Возраст:", "35 лет"],
                        ["Родился:", "10 июля 1984"],
                      ];
                    table.user-info__data
                      tbody.user-info__data-body
                        each row in userdata
                          tr
                            td.user-info__data-set #{row[0]}
                            td.user-info__set #{row[1]}

              .about__content
                .about__disclamer Привет, меня зовут
                h2.about__title Михаил Туркин
                .about__desc
                  p   Я занимаюсь разработкой современных сайтов и приложений. 
                  p   Мне нравится делать интересные и современные проекты.
                .about__ps
                  +image("content/flower.png", "flower")
                  p   Этот сайт я сделал в рамках обучения в Школе онлайн образования 
                  p   LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотри-
                  p   посмотрите, как тут всё классно и красиво!
      section.values-section          
        section.triangles.values-section__triangles
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
            polygon(points="0,0 0,100 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").triangles__item.triangle
            polygon(points="1000,0 1000,100 0,100")
        .container
          .values__title
            h2.title__values Чем я могу быть полезен вам
          .values__content
            .values__right
              +image("content/backpack.png", "backpack__img")
            .values__left
              .values__text 
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования 
                p LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, 
                p как тут всё классно и красиво!
              .values-left__content
                ul.user-skills
                - 
                  var skills = [
                    ['Front-end', ['HTML5', 'CSS3', 'javascript', 'jquery и Vue.js']],
                    ['Workflow', ['GIT', 'Terminal', 'Gulp', 'Webpack']],
                  ]
                each item in skills 
                  li.user-skills__item.skills-row 
                    .skills-row__title #{item[0]}
                    ul.skills-row__list
                      each skill in item[1]
                        li.skills-row__item
                          .skill
                            svg(viewBox="0 0 200 200" preserveAspectRatio="none").skill__shape
                              circle(r="70" cx="100" cy="100" fill="transparent" stroke="#e9e9e9" stroke-width="10px").skill__circle.skill__circle--position--under
                              circle(r="70" cx="100" cy="100" fill="transparent" stroke="url(#gradient)" stroke-width="20px" stroke-dasharray="439.6" stroke-dashoffset="276.8").skill__circle.skill__circle--position--above
                              linear-gradient()
                            .skill__title #{skill}
                          svg(style='width:0; height:0; position: absolute;' aria-hidden='true').skill__img
                            lineargradient#gradient(x1='0%' y1='0%' x2='100%' y2='0')
                              stop(offset='0%' stop-color='#4a00ed')
                              stop(offset='100%' stop-color='#9300e8')
      section.works
        .container
          .works__container
            .works__title Мои Работы
            .works__content
              .works__left
                .slider
                  .slider-content
                    .slider__item.slider__item-active
                      +image("content/preview1.jpg", "preview-img")
                    .slider__item
                      +image("content/preview2.jpg", "preview-img")
                    .slider__item
                      +image("content/preview3.jpg", "preview-img")
                    .slider__item
                      +image("content/preview4.jpg", "preview-img")
                  .slider__contol
                    button.slider__btn
                      +icon("arrow", "arrow__up-img")
                    button.slider__btn
                      +icon("arrow", "arrow__down-img")
                  .slider__right
                    .slider__right-item.slider__item-active
                      +image("content/preview1.jpg", "small__preview-img")
                    .slider__right-item
                      +image("content/preview2.jpg", "small__preview-img")
                    .slider__right-item
                      +image("content/preview3.jpg", "small__preview-img")
                    .slider__right-item
                      +image("content/preview4.jpg", "small__preview-img")
                  ul.slider__right-number
                    li.slider__number.slider__number-active 1
                    li.slider__number 2
                    li.slider__number 3
                    li.slider__number 4
                      
              .works__right
                .works__tags
                  +tag('tags', ["HTML", "CSS", "javascript"])
                .works__right-title Сайт школы <br> образования
                .works__right-content
                  p Этот парень проходил обучение
                  p веб-разработке не где-то, а в LoftSchool! 2
                  p месяца только самых тяжелых
                  p испытаний и бессонных ночей!
                .works__right-site
                  +icon("link", "link-img") 
                  a.watch__site Посмотреть сайт
        .works__triangles      
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").work__item.work
            polygon(points="0,0 1000,0 1000,100")
          svg(viewBox="0 0 1000 100" preserveAspectRatio="none").work__item.work
            polygon(points="0,0 0,100 1000,0")    
      section.about-me
        section.talking
          .container.talking__container
            .talking-header
              .talking__title Что обо мне говорят
              .talking__buttom
                button.talking__btn
                  +icon("arrow", "arrow__left-img talking__btn-color")
                button.talking__btn
                  +icon("arrow", "arrow__right-img talking__btn-color" )
                Kimage("content/right-arrow-button.png", "righr-arrow-button-img")
            .talking__content
              .talking__content-left
                +icon("quote", "quote-img") 
                .talking__content-text
                  p Этот парень проходил обучение
                  p веб-разработке не где-то, а в LoftSchool!
                  p 4,5 месяца только самых тяжелых
                  p испытаний и бессонных ночей!
                .talking__content-autor
                  .talking__content-autor__avatar
                    +image("content/dmitriy.png", "dmitriy-img")
                  .talking__content-autor__desc
                    .talking__content-autor__name
                      p Ковальчук Дмитрий
                    .talking__content-autor__rank
                      p Основатель LoftSchool
              .talking__content-right
                +icon("quote", "quote-img")
                .talking__content-text
                  p Этот сайт выдержит любые испытания.
                  p Только пожалуйста, не загружайте сайт на
                  p слишком старых браузерах
                .talking__content-autor
                  .talking__content-autor__avatar
                    +image("content/vladimir.png", "vladimir-img")
                  .talking__content-autor__desc
                    .talking__content-autor__name
                      p Владимир Сабанцев
                    .talking__content-autor__rank
                      p Преподаватель
        section.link__withme
          .container.link__container
            .link__title Связаться со мной
            .link__forma
              .link__data
                .link__item
                  .link__contents
                    .link__name
                      .link__img
                        +icon("user", "link__img")
                      .link__content
                        .link__name-text.link-text Введите ваше имя
                        input.link__text__forma(type="text" name="name")
                    hr(align="left" width="80%" size="1" color="#464d62")
                  .link__contents
                    .link__email
                      .link__img
                        +icon("envelope", "link__img")
                      .link__content
                        .link__email-text.link-text Введите ваш email
                        input.link__text__forma(type="text" name="email")
                    hr(align="left" width="80%" size="1" color="#464d62")
                .link__contents
                  .link__message
                    .link__img.link__img-message
                      +icon("message", "link__img")
                    .link__content
                      .link__message-text.link-text Сообщение к письму
                      textarea.link__textarea__forma(type="text" name="message" style="width:730px; height:60px;")
                  hr(align="left" width="90%" size="1" color="#464d62")
                button.send Отправить
      section.footer
        .footer-left
          .user-footer__copy &copy; 2020
          .user-footer__data
            .user-footer__name МИХАИЛ <br> ТУРКИН
            .user-footer__desc Личный сайт <br> веб разработчика
        .footer-right
          .footer-nav
            +nav('menu', ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"])
          .footer__content
            .footer__content-left
              .footer__i-did
              p Этот сайт я сделал в рамках обучения в
              p Школе онлайн образования Loftschool
              .footer__socials
                - var icons = ['insta', 'vk', 'github']
                ul.socials
                  each item, index in icons
                    li.socials__item(class=`${index === 1 ? 'active' : ''}`)
                      a(href="").socials__link-footer
                        +icon(`${item}`, 'socials__icon')
            .footer__content-right
              .footer__content-text
                p Всегда пишите код так, будто сопровождать его будет
                p склонный к насилию психопат, который знает где вы
                p живете
              .footer__content-autor
                span.autor Martin Golding    